@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

body{
    margin:0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #FCE9A4;
}

.publicar-pesquisa{
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: #FCE9A4;
    margin-left: 255px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #b3c7b9;
    margin-top: -100px;
    gap: 20px;
    padding-left: 20px;

    button{
        background-color:#4F762F;
        color: white;
        border-radius: 50px;
        height: 35px;
        width: 140px;
        font-size: 13px;
        font-weight: 600;
        border: none;
    }
    button:hover{
        background-color: #5a7f35;
    }

    input{
        border-radius: 50px;
        border:1px solid #636363;
        height: 45px;
        width: 670px;
        font-size: 12px;
        color:#556b5c;
        font-weight: 500;
        padding-left: 20px;
    }

    img{
        width: 30px;
        height: 30px;
    }

}


.inicio{
    margin-top: 100px;
}
.pesquisa{
    margin-top: 40px;
    margin-left: 300px ;
    background-color: #fff4b6;
    border-radius: 10px;
    width: 900px;
    height: 300px;
    box-shadow: 0px 2px 50px rgba(147, 147, 147, 0.189);   
}

.inicio h1{
    font-family: "Montserrat",sans-serif;
    color: #142A1B;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 45px;
    font-weight: 900;
}
.inicio h4{
    color: #4F762F;
    margin-left: 30px;
    padding-top: 30px;
}
.inicio p{
    margin-top: -10px;
    color: #636363;
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
}
.inicio input{
    position: relative;
    margin-left: 30px;
    border-radius: 50px;
    width: 850px;
    height: 50px;
    padding-left: 30px;
    border:1px solid #b3c7b9;
    font-weight: 400;
    margin-top: 15px;
    box-shadow: 0px 2px 15spx rgba(0, 0, 0, 0.073);
    
}
.inicio ::placeholder{
    color:#556b5c;
}
.inicio button{
    position: absolute;
    z-index: 1px;
    margin-left: -110px;
    margin-top: 20px;
    color: white;
    background-color: #4F762F;
    border-radius: 100px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.inicio button:hover{
    background-color: #5a7f35;
}



.barraLateral{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #838E43;
    color: white;
    width: 250px;
    height: 100vh;
    margin: 0;
}

.logo-titulo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.barraLateral .logo-titulo h2{
    color: #fff;
    margin: 0;
    padding-left: 0;
    font-size: 25px;
    font-weight: 900;
}
.logo-titulo img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.barraLateral h2{
    font-size: 20px;
    padding-left: 10px;
}
.barraLateral img{
    width: 40px;
    height: 40px;
}

.barraLateral button{
    display: block;
    color:white;
    background-color: #838E43;
    border: none;
    width: 220px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 7px;
    height: 40px;
}
.barraLateral button:hover{
    background-color: #a0ad56;
}

.botao-inicio{
    display: flex;
}
.botao-inicio button{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 10px;
    text-align: left;
}
.botao-inicio img{
    width: 20px;
    height: 20px;
}
.botao-meusMateriais button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 10px;
    text-align: left;
}
.botao-meusMateriais img{
    width: 16px;
    height: 16px;
}
.materiais-recomendados{
    margin-top: 40px;
    margin-left: 300px ;
    h4{
        color:#4F762F;
        font-weight: 600;
        font-size: 15px;
    }
    h2{
        color:#142A1B;
        font-weight: 900;
        font-size: 30px;
        margin-top: -10px;
    }
}
.boxes-materiais{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.material-box{
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 5px 20px;
    border:#d6d6d6 0.5px solid;
    border-radius: 12px;
}
.material-box h5{
    font-weight: 700;
    color: #636363;
}
.material-box h3{
    color:#142A1B;
    margin-top: -15px;
}
.material-box p{
    color: #636363;
    font-weight: 400;
    font-size: 14px;
}
.avaliacao{
    display: flex;
    align-items: center;
    gap: 110px;
    margin-top: -20px;
    img{
        width: 80px;
        height: 80px;
    }
}
.autor{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -20px;
    p:nth-child(1){
        font-weight: 400;
        font-size: 12px;
    }
    p:nth-child(2){
        font-weight: 700;
        font-size: 12px;
    }
    
    
}

.material-box .autor button{
        background-color: white;
        border: 1px solid #636363;
        border-radius: 50px;
        width: 72px;
        height: 24px;   
        align-items: center;
        margin-left: 0;
        padding: 0 8px;
        color:#142A1B;
        font-size: 12px;
    }
.autor button:hover{
        background-color:#F7E9B2;
    }

.material-box button{
    background-color: white;
    border: 1px solid #636363;
    border-radius: 50px;
    width: 230px;
    height: 30px;
    color:#142A1B;
    margin-left: 13px;
    
}
.material-box button:hover{
        background-color:#F7E9B2;
    }