<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>UNINOTES</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styleMaterial.css">
</head>
<body>
    <div class="publicar-pesquisa">
        <a href="pagina de publica.html">PUBLICAR</a>
        <input type="text" placeholder="Buscar por disciplina, matéria, assunto ou professor...">
        <img class="icone-notificacao" src="imagens/notificacao.png">
        <img class="icone-perfil" src="imagens/perfil-de-usuario.png">
    </div>

    <div class="volte-aos-materiais">
        <button><p>Voltar aos materiais</p></div>
    <div class="material">
        <div class="categorias"><!---img---><p><b>ECONOMIA - ANOTAÇÃO</b></p></div>
        <div class="titulo-material"><!---img---><h1>MACROECONOMIA — <br>POLÍTICA MONETÁRIA</h1></div>
        <div class="descricao-material"><!---img---><p>Selic, inflação e o papel do Banco Central.</p></div>
        <div class="autor-material"><!---img---><p>Publicado por:</p><p><b> Gustavo Prado</b></p><button><!---img---><b>SEGUIR</b></button></div>
        <div class="prof-curso-instituicao-data">
            <p><b>PROFESSOR</b></p>
            <p><b>CURSO</b></p>
            <p><b>INSTITUIÇÃO</b></p> 
            <p><b>PUBLICADO</b></p>
        </div>
        <div class="prof-curso-instituicao-data-DADOS">
            <p>Prof. Livia Andrade</p>
            <p>Economia</p>
            <p>PUC-Rio</p> 
            <p>20 de jul. de 2026</p>
        </div>
        <div class="avaliacao">
            <p><b>AVALIACAO<b></p>
            <div class="estrelas">
                <img src="imagens/avaliacao (2).png">
                <p>(3)</p>
            </div>
        </div>

        <div class="abrir-baixar-salvar-compartilhar">
            <button><b>ABRIR MATERIAL</b></button>
            <button><b>Baixar</b></button>
            <button><b>SALVAR</b></button>
            <button>Compartilhar</button>
        </div>
        <div class="reportar">
            <button>Reportar material</button>
        </div>
    </div>
    
    <div class="avaliacao-comentario">
        <div class="boxes">
            <h3><b>AVALIAÇÕES</b></h3>
            <p>Como foi sua experiência com este material?</p>
            <img src="imagens/avaliacao (1).png">
        </div>
        <div class="boxes">
            <h3><b>COMENTÁRIOS</b></h3>
            <p>Deixe seu comentário sobre este material.</p>
            <!--img-->
            <input type="text" placeholder="Escreva um comentário...">
        </div>
    </div>

    <section class="barraLateral">
        <div class="logo-titulo">
            <img src="imagens/Logo Uninotes.png">
            <h2><b>UNINOTES</b></h2>
        </div>
        <div class="botao-inicio">
            <a href="telaInicio.html"><img src="imagens/icone casa.png"><b>INÍCIO</b></a>
        </div>
        <div class="botao-meusMateriais">
            <button><img src="imagens/documentos-google.png"><b>MEUS MATERIAIS</b></button>
        </div>
        <button><b>SALVOS</b></button>
        <button><b>MENSAGENS</b></button>
        <button><b>ESTATÍSTICAS</b></button>
        <a href="tela de perfil.html"><b>PERFIL</b></a>
        <a href="pagina_configuracoes.html"><b>CONFIGURAÇÕES</b></a>
    </section>
</body>
</html>
