<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_configuracoes.css">
    <title>UNINOTES</title>
</head>

<body>
    <div class="publicar-busca">
        <a href="pagina de publica.html">PUBLICAR</a>
        <input type="text" placeholder="Buscar por disciplina, matéria, assunto ou professor...">
        <img src="imagens/notificacao.png">
        <img src="imagens/perfil-de-usuario.png">
    </div>

    <section class="barra-lateral">
        <div class="logo">
            <img src="imagens/Logo Uninotes.png">
            <h2><b>UNINOTES</b></h2>
        </div>
        <div class="menu">
            <a href="telaInicio.html">
                <b>INÍCIO</b>
            </a>
            <button><b>MEUS MATERIAIS</b></button>
            <button><b>SALVOS</b></button>
            <button><b>MENSAGENS</b></button>

            <button><b>ESTATÍSTICAS</b></button>
            <a href="tela de perfil.html">
                <b>PERFIL</b>
            </a>
            <a href="pagina_configuracoes.html">
                <b>CONFIGURAÇÕES</b>
            </a>
        </div>
    </section>

    <div class="configuracoes">
        <h4>SUA CONTA</h4>
        <h1><b>CONFIGURAÇÕES</b></h1>

        <div class="opcoes-box">
            <img src="imagens/perfil.png">
            <div class="textos">
                <p><b>Editar dados pessoais</b></p>
                <h5>Nome, curso, instituição e período</h5>
            </div>
            <button>⋮</button>
        </div>
        <div class="opcoes-box">
            <img src="imagens/cadeado.png">
            <div class="textos">
                <p><b>Alterar senha</b></p>
                <h5>Mantenha sua conta protegida</h5>
            </div>
            <button>⋮</button>
        </div>
        <div class="opcoes-box">
            <img src="imagens/foto.png">
            <div class="textos">
                <p><b>Alterar foto</b></p>
                <h5>Escolha uma imagem para o seu perfil</h5>
            </div>
            <button>⋮</button>
        </div>
        <div class="opcoes-box">
            <img src="imagens/privacidade.png">
            <div class="textos">
                <p><b>Privacidade</b></p>
                <h5>Gerencie suas preferências de privacidade</h5>
            </div>
            <button>⋮</button>
        </div>
        <div class="notificao">  
            <h3><b>NOTIFICAÇÕES</b></h3>
            <div class="check-box">
                <p>Novos materiais das minhas disciplinas</p>
                <input type="checkbox">
            </div>
            <div class="check-box">
                <p>Novas mensagens</p>
                <input type="checkbox">
            </div>
            <div class="check-box">
                <p>Avaliações e comentários nos meus materiais</p>
                <input type="checkbox">
            </div>
        </div>

        <div class="sair">
            <a href="tela_login.html" class="sair-link"><b>Sair da conta</b></a>
        </div>
    </div>

</body>

</html>