<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>UNINOTES-Materiais Acadêmicos</title>
    <link rel="stylesheet" href="../static/css/styleInicio.css">
</head>
<body>
    <div class="publicar-pesquisa">
        <a href="pagina de publica.html">PUBLICAR</a>
        <input type="text" placeholder="Buscar por disciplina,matéria,assunto ou professor...">
        <img src="imagens/notificacao.png">
        <img src="imagens/perfil-de-usuario.png">
    </div>


    <section class="inicio">
        <!--<button>PUBLICAR</button>--->
        <div class="pesquisa">
        <h4>SEU SEMESTRE, MAIS ORGANIZADO</h4>
        <h1><b>ENCONTRE O MATERIAL CERTO<br>
        PARA ESTUDAR MELHOR</b></h1>
        <p>Resumos, exercícios e anotações compartilhados por estudantes de várias universidades.</p>
        <input type="text" placeholder="Qual conteúdo você procura? ">
        <button><b>BUSCAR</b></button>
        </div>
    </section>
    <div class="materiais-recomendados">
        <h4>SELECIONADOS PARA VOCÊ</h4>
        <h2><b>MATERIAIS RECOMENDADOS</b></h2>
        <div class="boxes-materiais">
            <div class="material-box">
               <!--img--> 
                <h5>CÁLCULO</h5>
                <h3><b>FUNÇÃO</b></h3>
                <p>slide de material</p>
                <div class="avaliacao">
                <p><b>Slides</b></p><img src="imagens/avaliacao (2).png">
                </div>
                <div class="autor">
                    <p>Por:</p>
                    <p>Lucas Soares</p>
                    <button>SEGUIR</button>
                </div>
                <a href="material.html">
                <b>ABRIR</b>
                </a>
            </div>
            <div class="material-box">
               <!--img--> 
                <h5>CÁLCULO</h5>
                <h3><b>DERIVADAS</b></h3>
                <p>resumo de derivadas</p>
                <div class="avaliacao">
                <p><b>Prova</b></p><img src="imagens/avaliacao (2).png">
                </div>
                <div class="autor">
                    <p>Por:</p>
                    <p>Ana Beatriz Ferreira</p>
                    <button>SEGUIR</button>
                </div>
                <a href="material.html">
                <b>ABRIR</b>
                </a>
            </div>
            <div class="material-box">
               <!--img--> 
                <h5>ESTATÍSTICA</h5>
                <h3><b>TESTES DE HIPÓTESE</b></h3>
                <p>resumo de testes de hipótese</p>
                <div class="avaliacao">
                <p><b>Slides</b></p><img src="imagens/avaliacao (2).png">
                </div>
                <div class="autor">
                    <p>Por:</p>
                    <p>Bruno Ferraz</p>
                    <button>SEGUIR</button>
                </div>
                <a href="material.html">
                <b>ABRIR</b>
                </a>
            </div>
        </div>
    </div>
    <div class="materiais-recomendados">
        <h4>MATERIAIS QUE VOCE ABRIU</h4>
        <h2><b>RECENTES</b></h2>
        <div class="boxes-materiais">
            <div class="material-box">
               <!--img--> 
                <h5>FÍSICA</h5>
                <h3><b>LEIS DE NEWTON</b></h3>
                <p>resumo de leis de newton</p>
                <div class="avaliacao">
                <p><b>Slides</b></p><img src="imagens/avaliacao (2).png">
                </div>
                <div class="autor">
                    <p>Por:</p>
                    <p>Lucas Soares</p>
                    <button>SEGUIR</button>
                </div>
                <a href="material.html">
                <b>ABRIR</b>
                </a>
            </div>
            <div class="material-box">
               <!--img--> 
                <h5>MATEMÁTICA</h5>
                <h3><b>FUNÇÕES</b></h3>
                <p>resumo de funções</p>
                <div class="avaliacao">
                <p><b>Slides</b></p><img src="imagens/avaliacao (2).png">
                </div>
                <div class="autor">
                    <p>Por:</p>
                    <p>Ana Beatriz Ferreira</p>
                    <button>SEGUIR</button>
                </div>
                <a href="material.html">
                <b>ABRIR</b>
                </a>
            </div>
            <div class="material-box">
               <!--img--> 
                <h5>ESTATÍSTICA</h5>
                <h3><b>TABELAS E GRÁFICOS</b></h3>
                <p>resumo de tabelas e gráficos</p>
                <div class="avaliacao">
                <p><b>Slides</b></p><img src="imagens/avaliacao (2).png">
                </div>
                <div class="autor">
                    <p>Por:</p>
                    <p>Bruno Ferraz</p>
                    <button>SEGUIR</button>
                </div>
                <a href="material.html">
                <b>ABRIR</b>
                </a>
            </div>
    </div>


    <section class="barraLateral">
        <div class="logo-titulo">
        <img src="imagens/Logo Uninotes.png">
        <h2><b>UNINOTES</b></h2>
        </div>
            <div class="botao-inicio">
                <a href="telaInicio.html">
                    <img src="imagens/icone casa.png"><b>INÍCIO</b>
                </a>
            </div>
        <div class="botao-meusMateriais">
            <button><img src="imagens/documentos-google.png"><b>MEUS MATERIAIS</b></button>
    </div>
            <button><b>SALVOS</b></button>
            <button><b>MENSAGENS</b></button>
            <button><b>ESTATÍSTICAS</b></button>
            <a href="tela de perfil.html">
                <b>PERFIL</b>
            </a>
            <a href="pagina_configuracoes.html">
                <b>CONFIGURAÇÕES</b>
            </a>
    </section>
</body>
</html>